body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #fdfdfd;
  color: #333;
}

header {
  background-color: #003049;
  color: white;
  padding: 2rem;
}

.chart-section {
  padding: 2rem;
}

#chart {
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

footer {
  background-color: #eee;
  padding: 1rem;
  font-size: 0.8rem;
}
